<% @channels.each do |channel| %>
  <h3><strong><%= channel.title %></strong></h3>
  <h4><%= channel.description %><h4>
  <%= button_to '最新の情報を取得', channel_fetch_items_path(channel), :method => :get %>
  <% channel.items.each do |item| %>
    <p>
      <%= link_to item.link do %>
        <h4><strong><%= item.title %></strong></h4>
      <% end %>
      <%= time_ago_in_words(item.pubdate) %>前
    </p>
  <% end %>
<% end %>
