<h3><strong><%= @feed.channel.title %></strong></h3>
<h4><%= @feed.channel.description %></h4>

<% @feed.channel.items.each do|item| %>
  <p>
    <%= link_to item.link do %>
      <h4><strong><%= item.title %></strong></h4>
    <% end %>
    <%= time_ago_in_words(item.pubDate) %>前
  </p>
<% end %>
